{% macro modal(title, btn_label=None, btn_class="btn-primary") %}
{% set key = title.replace(' ', '-').lower() %}
{% set btn_label = btn_label or title %}
<div class="modal fade" id="{{key}}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{key}}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="{{key}}-label">{{title}}</h1>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn {{btn_class}}" data-dismiss="modal" data-dismiss="modal">{{btn_label}}</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Research Labs</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .center-for-the-best {
        text-align: center;
      }
      </style>
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/overridings.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/2.9a968444.chunk.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/main.99b2f3f9.chunk.css") }}" type="text/css"/>
    {% endblock %}
    {% block favicon %}
    <link rel="icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
    {% endblock %}
    {% block scripts %}
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("components/jquery/dist/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("components/bootstrap/dist/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
    <script>
      require.config({
          {% if version_hash %}
          urlArgs: "v={{version_hash}}",
          {% endif %}
          baseUrl: '{{static_url("js", include_version=False)}}',
          paths: {
            components: '../components',
            jquery: '../components/jquery/dist/jquery.min',
            bootstrap: '../components/bootstrap/dist/js/bootstrap.min',
            moment: "../components/moment/moment",
          },
          shim: {
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
          }
      });
    </script>

    <script type="text/javascript">
      window.jhdata = {
        base_url: "{{base_url}}",
        prefix: "{{prefix}}",
        {% if user %}
        user: "{{user.json_escaped_name}}",
        {% endif %}
        {% if admin_access %}
        admin_access: true,
        {% else %}
        admin_access: false,
        {% endif %}
        {% if not no_spawner_check and user and user.spawner.options_form %}
        options_form: true,
        {% else %}
        options_form: false,
        {% endif %}
        xsrf_token: "{{ xsrf_token }}",
      }
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body class="theme-g10 bg-ui-background" data-new-gr-c-s-check-loaded="14.1121.0">

<noscript>
  <div id='noscript'>
    Research Labs requires JavaScript.<br>
    Please enable it to proceed.
  </div>
</noscript>

{% block nav_bar %}
  <div id="ibm-q-top-nav-bar">
    <div class="theme-g90">
      <div class="bg-inverse-01 text-white-0 text-body-short-01 top-0 left-0 w-full flex items-center z-50 h-48">
        <div class="h-full flex items-center pr-16">
          <div class="jp-ibmq--logo">
            <a href="https://lab.quantum-computing.ibm.com/user/641185bf9fcfb010b29b2585">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" viewBox="0 0 32 32" aria-hidden="true" class="ml-16 mr-24">
                <path d="M14 26L15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26z"></path>
              </svg>IBM <span class="ml-4 pr-16 font-600">Quantum Lab</span>
            </a>
          </div>
        </div>
        <div class="theme-g100 flex flex-1 items-center justify-end">
          <div class="relative">
            <div class="jp-ibmq--overflow-menu">
              <a href="https://github.com/TheFlightSims">
                <button class="w-48 h-48 flex items-center justify-center focus:outline-none jp-ibmq--overflow-menu-trigger false">
                  <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                    <path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"></path>
                    <circle cx="16" cy="23.5" r="1.5"></circle>
                    <path d="M17,8H15.5A4.49,4.49,0,0,0,11,12.5V13h2v-.5A2.5,2.5,0,0,1,15.5,10H17a2.5,2.5,0,0,1,0,5H15v4.5h2V17a4.5,4.5,0,0,0,0-9Z"></path>
                  </svg>
                </button>
              </a>
            </div>
          </div>
          <div role="presentation" class="bx--modal">
            <span tabindex="0" role="link" class="bx--visually-hidden">Focus sentinel</span>
            <div class="bx--modal-container bx--modal-container--xs" role="dialog" aria-modal="true">
              <div class="bx--modal-content">
                <div class="jp-ibmq-inline-loading">
                  <div class="bx--inline-loading" aria-live="assertive">
                    <div class="bx--inline-loading__animation">
                      <div aria-atomic="true" aria-labelledby="loading-id-1" aria-live="assertive" class="bx--loading bx--loading--small">
                        <label id="loading-id-1" class="bx--visually-hidden">Active loading indicator</label>
                        <svg class="bx--loading__svg" viewBox="0 0 100 100">
                          <title>Active loading indicator</title>
                          <circle class="bx--loading__background" cx="50%" cy="50%" r="44"></circle>
                          <circle class="bx--loading__stroke" cx="50%" cy="50%" r="44"></circle>
                        </svg>
                      </div>
                    </div>
                  </div> Logging out from IBM Quantum Lab
                </div>
              </div>
            </div>
            <span tabindex="0" role="link" class="bx--visually-hidden">Focus sentinel</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        {% if user %}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% endif %}

      </div>

      <div class="collapse navbar-collapse" id="thenavbar">
        {% if user %}
        <ul class="nav navbar-nav">
          {% block nav_bar_left_items %}
            <li><a href="{{base_url}}home">Home</a></li>
            <li><a href="{{base_url}}change-password">Change Password</a></li>
            {% if user.admin %}
                <li><a href="{{base_url}}authorize">Authorize Users</a></li>
            {% endif %}
            <li><a href="{{base_url}}token">Token</a></li>
            {% if 'admin-ui' in parsed_scopes %}
            <li><a href="{{base_url}}admin">Admin</a></li>
            {% endif %}
            {% if services %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for service in services %}
              {% block service scoped %}
                <li><a class="dropdown-item" href="{{service.prefix}}">{{service.name}}</a></li>
              {% endblock %}
              {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endblock %}
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% block nav_bar_right_items %}
            <li>
              {% block login_widget %}
                <span id="login_widget">
                  {% if user %}
                    <p class="navbar-text">{{user.name}}</p>
                    <a id="logout" role="button" class="navbar-btn btn-sm btn btn-default" href="{{logout_url}}"> <i aria-hidden="true" class="fa fa-sign-out"></i> Logout</a>
                  {% else %}
                    <a id="login" role="button" class="btn-sm btn navbar-btn btn-default" href="{{login_url}}">Login</a>
                  {% endif %}
                </span>
              {% endblock %}
            </li>
          {% endblock %}
        </ul>
      </div>

      {% block header %}
      {% endblock %}
    </div>
  </nav>
{% endblock %}


{% block announcement %}
{% if announcement %}
<div class="container text-center announcement alert alert-warning">
  {{ announcement | safe }}
</div>
{% endif %}
{% endblock %}


{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% call modal('Error', btn_label='OK') %}
  <div class="ajax-error">
    The error
  </div>
{% endcall %}

{% block script %}
{% endblock %}

</body>

</html>
