{% macro modal(title, btn_label=None, btn_class="btn-primary") %}
{% set key = title.replace(' ', '-').lower() %}
{% set btn_label = btn_label or title %}
<div class="modal fade" id="{{key}}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{key}}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="{{key}}-label">{{title}}</h1>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        <a role="button" class="btn btn-lg btn-primary" data-dismiss="modal" data-dismiss="modal">{{btn_label}}</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Research Labs</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .center-for-the-best {
        text-align: center;
      }
      </style>
    {% if announcement_login %}
    
    {% endif %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/overridings.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/2.9a968444.chunk.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/main.99b2f3f9.chunk.css") }}" type="text/css"/>
    {% endblock %}
    {% block favicon %}
    <link rel="icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
    {% endblock %}
    {% block scripts %}
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("components/jquery/dist/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("components/bootstrap/dist/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
    <script>
      require.config({
          {% if version_hash %}
          urlArgs: "v={{version_hash}}",
          {% endif %}
          baseUrl: '{{static_url("js", include_version=False)}}',
          paths: {
            components: '../components',
            jquery: '../components/jquery/dist/jquery.min',
            bootstrap: '../components/bootstrap/dist/js/bootstrap.min',
            moment: "../components/moment/moment",
          },
          shim: {
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
          }
      });
    </script>

    <script type="text/javascript">
      window.jhdata = {
        base_url: "{{base_url}}",
        prefix: "{{prefix}}",
        {% if user %}
        user: "{{user.json_escaped_name}}",
        {% endif %}
        {% if admin_access %}
        admin_access: true,
        {% else %}
        admin_access: false,
        {% endif %}
        {% if not no_spawner_check and user and user.spawner.options_form %}
        options_form: true,
        {% else %}
        options_form: false,
        {% endif %}
        xsrf_token: "{{ xsrf_token }}",
      }
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body class="theme-g10 bg-ui-background" data-new-gr-c-s-check-loaded="14.1121.0">

<noscript>
  <div id='noscript'>
    Research Labs requires JavaScript.<br>
    Please enable it to proceed.
  </div>
</noscript>

{% block nav_bar %}
  <div id="ibm-q-top-nav-bar">
    <div class="theme-g90">
      <div class="bg-inverse-01 text-white-0 text-body-short-01 top-0 left-0 w-full flex items-center z-50 h-48">
        <div class="h-full flex items-center pr-16">
          <div class="jp-ibmq--logo">
            <a href="/hub">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
              </svg> <span class="ml-4 pr-16 font-600">Research Labs</span>
            </a>
          </div>
        {% if user %}
          <div class="jp-ibmq--logo">
            <a href="{{base_url}}home">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
              </svg> <span class="pr-16">Home</span>
            </a>
          </div>
          <div class="jp-ibmq--logo">
            <a href="{{base_url}}change-password">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
              </svg> <span class="pr-16">Change password</span>
            </a>
          </div>
          {% if user.admin %}
            <div class="jp-ibmq--logo">
              <a href="{{base_url}}authorize">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
                </svg> <span class="pr-16">Authorize Users</span>
              </a>
            </div>
          {% endif %}
          <div class="jp-ibmq--logo">
            <a href="{{base_url}}token">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
              </svg> <span class="pr-16">Token</span>
            </a>
          </div>
          {% if 'admin-ui' in parsed_scopes %}
            <div class="jp-ibmq--logo">
              <a href="{{base_url}}admin">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 32 32" aria-hidden="true" width="10">
                </svg> <span class="pr-16">Admin Panel</span>
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
        <div class="theme-g100 flex flex-1 items-center justify-end">
          <div class="relative">
            <div class="jp-ibmq--overflow-menu">
              {% if user %}
              <a href="{{logout_url}}">
                <button class="w-48 h-48 flex items-center justify-center focus:outline-none jp-ibmq--overflow-menu-trigger false">
                  <svg id="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                    <defs>
                      <style>
                        .cls-1{fill:none;}
                      </style>
                    </defs>
                    <path d="M6,30H18a2.0023,2.0023,0,0,0,2-2V25H18v3H6V4H18V7h2V4a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,4V28A2.0023,2.0023,0,0,0,6,30Z"/>
                    <polygon points="20.586 20.586 24.172 17 10 17 10 15 24.172 15 20.586 11.414 22 10 28 16 22 22 20.586 20.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                  </svg>
                </button>
              </a>
              {% else %}
              <a href="{{login_url}}">
                <button class="w-48 h-48 flex items-center justify-center focus:outline-none jp-ibmq--overflow-menu-trigger false">
                  <svg id="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                    <defs>
                      <style>
                        .cls-1{fill:none;}
                      </style>
                    </defs>
                    <path d="M6,30H18a2.0023,2.0023,0,0,0,2-2V25H18v3H6V4H18V7h2V4a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,4V28A2.0023,2.0023,0,0,0,6,30Z"/>
                    <polygon points="20.586 20.586 24.172 17 10 17 10 15 24.172 15 20.586 11.414 22 10 28 16 22 22 20.586 20.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                  </svg>
                </button>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block announcement %}
{% if announcement %}
<div class="container text-center announcement alert alert-warning">
  {{ announcement | safe }}
</div>
{% endif %}
{% endblock %}


{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% call modal('Error', btn_label='OK') %}
  <div class="ajax-error">
    The error
  </div>
{% endcall %}

{% block script %}
{% endblock %}

</body>

</html>
